<header>
    <h2 class="header"><a class="header-home" href="index.html">David Riley</a></h2><br>
    <div class="nav-links">
        <a class="header" href="index.html">Home</a>
        <a class="header" href="projects.html">Projects</a>
        <a class="header" href="models.html">3D Models</a>
        <a class="header" href="about.html">About</a>
        <a class="header" href="https://outboxgames.com/blog" target="_blog">Blog</a>
        <a class="header" href = "respContact.html">Contact Me</a>
    </div>
</header>